.ButtonNumbers {
    color: #29A8FF;
    border-radius: 15px;
    margin: 5px;
    background-color: #303136;
    padding: 18px 30px;
    font-size: 35px;
    border: none;
}
.ButtonNumbers:hover {
    color: #6bc0f8;
    background-color: #393a41;
}
.Dot {
    color: #29A8FF;
    border-radius: 15px;
    margin: 5px;
    background-color: #303136;
    padding: 18px 35px;
    font-size: 35px;
    border: none;
}
.Dot:hover {
    color: #6bc0f8;
    background-color: #393a41;
}
.Signs {
    color: #339DFF;
    border-radius: 15px;
    margin: 5px;
    background-color: #046ac9;
    padding: 18px 34px;
    font-size: 35px;
    border: none;
}
.Signs:hover {
    color: #6bc0f8;
    background-color: #2078ca;
}
.SignsDivide {
    color: #339DFF;
    border-radius: 15px;
    margin: 5px;
    background-color: #046ac9;
    padding: 18px 35px;
    font-size: 35px;
    border: none;
}
.SignsDivide:hover {
    color: #6bc0f8;
    background-color: #2078ca;
}
.SignsMultiply {
    color: #339DFF;
    border-radius: 15px;
    margin: 5px;
    background-color: #046ac9;
    padding: 18px 33px;
    font-size: 35px;
    border: none;
}
.SignsMultiply:hover {
    color: #6bc0f8;
    background-color: #2078ca;
}
.SignsPlus {
    color: #339DFF;
    border-radius: 15px;
    margin: 5px;
    background-color: #046ac9;
    padding: 39.5px 30px;
    font-size: 35px;
    border: none;
}
.SignsPlus:hover {
    color: #6bc0f8;
    background-color: #2078ca;
}
.SignsEquals {
    color: #339DFF;
    border-radius: 15px;
    margin: 5px;
    background-color: #046ac9;
    padding: 39.5px 30px;
    font-size: 35px;
    border: none;
}
.SignsEquals:hover {
    color: #6bc0f8;
    background-color: #2078ca;
}
.zero {
    color: #29A8FF;
    border-radius: 15px;
    margin: 5px;
    background-color: #303136;
    padding: 18px 74.9px;
    font-size: 35px;
    border: none;
}
.zero:hover {
    color: #6bc0f8;
    background-color: #393a41;
}
.backspace {
    background-image: url('../../../assets/icon/backspace1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #616161;
    padding: 38px 40px;
    border-radius: 15px;
    margin: 5px;
    border: none;
}
.backspace:hover {
    background-color: #6b6b6b;
}
.AllClear {
    color: #A5A5A5;
    border-radius: 15px;
    margin: 5px;
    background-color: #616161;
    padding: 18px 15.4px;
    font-size: 35px;
    border: none;
}
.AllClear:hover {
    color: #cecdcd;
    background-color: #8f8e8e;
}
.SignsBracket {
    color: #29A8FF;
    border-radius: 15px;
    margin: 5px;
    background-color: #303136;
    padding: 7px 58px;
    font-size: 25px;
    border: none;
}
.SignsBracket:hover {
    color: #6bc0f8;
    background-color: #393a41;
}
.SignsPercent {
    color: #29A8FF;
    border-radius: 15px;
    margin: 5px;
    background-color: #303136;
    padding: 7px 28.5px;
    font-size: 25px;
    border: none;
}
.SignsPercent:hover {
    color: #6bc0f8;
    background-color: #393a41;
}